.custom-cake-slide {
  display: flex;
  flex-direction: column;
}

.custom-cake-slide__image {
  &--size {
    margin-bottom: 47px;
  }
}

.custom-cake-slide__title {
  font-family: @font-second;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  color: #2f2f2f;
  text-align: center;

  &--size,
  &--decor {
    margin-bottom: 57px;
    font-size: 14px;
    font-weight: normal;
  }

  &--decor {
    margin-bottom: 0;
  }
}

.custom-cake-slide__description {
  font-family: @font-second;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
}

.custom-cake-slide__price {
  font-family: @font-base;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  align-self: center;
}
